# Django settings
DJANGO_PORT=8000
DJANGO_TARGET=development
DJANGO_SECRET_KEY=your_secret_key_here
DJANGO_DEBUG=True

# ...existing env variables...
SECRET_KEY=your_secret_key_here

ALLOWED_HOSTS=.localhost, backend, .0.0.0.0, frontend-service.default.svc.cluster.local
DEBUG=True

DJANGO_SETTINGS_MODULE=config.settings.development

# Database
DB_NAME=task-mangement
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOSTNAME=database
DB_PORT=5432


# Email
EMAIL_USER=
EMAIL_PASSWORD=


BACKEND_DOMAIN=
FRONTEND_DOMAIN=

NEXT_PUBLIC_NEXT_PUBLIC_ACCESS_TOKEN_KEY='namphan'
NEXT_PUBLIC_REFRESH_TOKEN_KEY='super-dev'
NEXT_PUBLIC_URL=debian.locallan
NEXT_PUBLIC_REST_URL=http://backend:8000